.header{
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s ease-out;
  padding: 15px 0;
  z-index: 100;
}
.header.color{
  padding: 5px 0;
  background-color: #eeb30f;
  transition: all .4s ease-out;
}
.header__inner{
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.burger i{
  font-size: 40px;
  color: #333;
}

.burger:active,
.burger:focus{
  border: transparent;
  outline: 2px solid pink;
}

/* Навигация */
.coffee__nav{
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  visibility: hidden;

  transform: translateY(100%);
  transition: transform .5s, visibility 0s .5s;
}
.coffee__nav-inner{
  position: relative;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee__nav.open{
  visibility: visible;
  transform: translateY(0);
  transition: transform .5s ease-out;
}

.coffee__nav .close__nav{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.coffee__nav .close__nav:active{
  border: transparent;
}

.coffee__nav-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.coffee__nav-list li:not(:last-of-type){
  margin-bottom: 10px;
}
.coffee__nav-link{
  /* color: #242424; */
  text-transform: uppercase;
  text-decoration: none;
  
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}


@media screen and (min-width: 1200px) {
  .header__inner,
  .coffee__nav-inner{
    max-width: 1140px;
    margin: 0 auto;
  }
  .coffee__nav .close__nav{
    top: 20px;
    right: 0;
    font-size: 35px;
  }
}


