/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'swiper/css';
@import 'swiper/css/pagination';

@import './CoffeeLayout/header';
@import 'banner.css';
@import 'card.css';

.swiper-slide{
  display: flex;
  justify-content: center;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #eeb30f;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0;
}

.display-hiden {
  display: none;
}

.status-for-delete {
  margin-left: 20px;
  padding: 10px 10px;
  font-style: italic;
  font-size: 18px;
}

.status-for-append {
  display: none;
  margin-left: 20px;
  padding: 10px 10px;
  font-style: italic;
  font-size: 18px;
}

.footer {
  height: 50px;

  background-color: #eeb30f;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 700;
}