/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'swiper/css';
@import 'swiper/css/pagination';

@import './CoffeeLayout/header';
@import 'banner.css';
@import 'card.css';

.swiper-slide{
  display: flex;
  justify-content: center;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #eeb30f;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0;
}

.display-hiden {
  display: none;
}

.status-for-delete {
  margin-left: 20px;
  padding: 10px 10px;
  font-style: italic;
  font-size: 18px;
}

.status-for-append {
  display: none;
  margin-left: 20px;
  padding: 10px 10px;
  font-style: italic;
  font-size: 18px;
}

.footer {
  height: 50px;

  background-color: #eeb30f;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 700;
}



/*********** MESSAGER BUTTON */

.container_messager {
  position: fixed;
  z-index: 980;

  bottom: 10%;
  right: 5%;

  background-color: rgba(255, 153, 20, 0.8);

  border-radius: 20px;
  max-width: 80px;
  width: 100%;

  border-radius: 20px;
}

.container_messager:hover {
  background-color: rgba(255, 153, 20, 1);
  cursor: pointer;
}

.d-btn {
  z-index: 990;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  max-width: 100px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}

.d-btn span {
  transition: all 0.3s;
  transform: scale(1, 1);
}

.d-btn::before, .d-btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-messager::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transform: scale(1.3, 1.3);
}

.btn-messager:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-messager::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.btn-messager:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.container-modal-messager {
  z-index: 99;
  position: fixed;

  bottom: 10%;
  right: 5%;

  width: 250px;
  height: 350px;

  border-radius: 20px;

  background-color: rgba(255, 183, 0, 0.6);

  display: none;
}

.modal-messager {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-modal {
  background-color: rgba(255,255,255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  max-height: 70px;
  height: 100%;
  margin-bottom: 5px;

  border-radius: 20px;
}

.display-modal {
  background-color: rgba(255,255,255, 0.7);

  z-index: 99;
  flex-grow: 2;
  max-height: 225px;

  padding: 8px 6px;

  border-radius: 20px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.form-modal {
  background-color: rgba(255,255,255, 0.9);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;  max-height: 45px;
  height: 100%;
  margin-top: 5px;

  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
}

.form-modal input {
  width: 180px;
}
.form-modal button {
  max-width: 80px;
  width: 100px;
}

.display-messages {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 100%;
  padding: 0;
}

.f-right {
  align-self: flex-end;
}

.f-left {
  align-self: flex-start;
}

.i-messager {
  font-size: 30px;
}